<ul>
  <% if @recipe.photo.attached? %>
    <li><%= image_tag @recipe.photo %></li>
  <% end %>
</ul>

<h1><%= @recipe.title %></h1>
<span>Receita enviada por: <%= @recipe.user.email %></span>
<h3>Detalhes</h3>
<p><%= @recipe.recipe_type.name %></p>
<p><%= @recipe.cuisine.name %></p>
<p><%= @recipe.difficulty %></p>
<p><%= @recipe.cook_time_min %></p>
<h3>Ingredientes</h3>
<p><%= @recipe.ingredients %></p>
<h3>Como Preparar</h3>
<p><%= @recipe.cook_method %></p>

<% if current_user == @recipe.user %>
  <%= link_to 'Editar', edit_recipe_path(@recipe) %>
<% end %>
<%= link_to 'Excluir', recipe_path(@recipe), method: :delete %>
<% if @recipe.featured? %>
  <%= link_to 'Remover Destaque', unfeatured_recipe_path(@recipe), method: :post %>
<% else %>
  <%= link_to 'Destaque', featured_recipe_path(@recipe), method: :post %>
<% end %>
<%= link_to 'Voltar', root_path %>